body {
    position: relative;
}
#header {
    transform:translateX(10%);
}

.puzzle-header {
    text-align: center;
}

#table-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f4f4f4;
    padding-bottom: 20px;
}


#puzzle-container{
    width: fit-content;
    height: fit-content;
    margin: 5px;
    /*position: absolute;*/
}

#solution-container{
    /*z-index: -1;*/
}


#img-container {
    width: 300px;
    height: auto;
    /*z-index: -1;*/
}

#image-upload{
    width: 100%;
    height: auto;
}


#input-puzzle, #output-puzzle {
    padding: 10px;
    border-radius: 5%;
    background: lightgray;
}

.input-container {
    border-radius: 10%;
 }


.box {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 30px;
    color: #333333;
    border-radius: 10%;
    background: lavender;
}

.active {
    color: red;
}


tr:nth-child(1) td:nth-child(1) input,
tr:nth-child(1) td:nth-child(2) input,
tr:nth-child(1) td:nth-child(3) input,
tr:nth-child(2) td:nth-child(1) input,
tr:nth-child(2) td:nth-child(2) input,
tr:nth-child(2) td:nth-child(3) input,
tr:nth-child(3) td:nth-child(1) input,
tr:nth-child(3) td:nth-child(2) input,
tr:nth-child(3) td:nth-child(3) input,

tr:nth-child(1) td:nth-child(7) input,
tr:nth-child(1) td:nth-child(8) input,
tr:nth-child(1) td:nth-child(9) input,
tr:nth-child(2) td:nth-child(7) input,
tr:nth-child(2) td:nth-child(8) input,
tr:nth-child(2) td:nth-child(9) input,
tr:nth-child(3) td:nth-child(7) input,
tr:nth-child(3) td:nth-child(8) input,
tr:nth-child(3) td:nth-child(9) input,

tr:nth-child(4) td:nth-child(4) input,
tr:nth-child(4) td:nth-child(5) input,
tr:nth-child(4) td:nth-child(6) input,
tr:nth-child(5) td:nth-child(4) input,
tr:nth-child(5) td:nth-child(5) input,
tr:nth-child(5) td:nth-child(6) input,
tr:nth-child(6) td:nth-child(4) input,
tr:nth-child(6) td:nth-child(5) input,
tr:nth-child(6) td:nth-child(6) input,

tr:nth-child(7) td:nth-child(7) input,
tr:nth-child(7) td:nth-child(8) input,
tr:nth-child(7) td:nth-child(9) input,
tr:nth-child(8) td:nth-child(7) input,
tr:nth-child(8) td:nth-child(8) input,
tr:nth-child(8) td:nth-child(9) input,
tr:nth-child(9) td:nth-child(7) input,
tr:nth-child(9) td:nth-child(8) input,
tr:nth-child(9) td:nth-child(9) input,

tr:nth-child(7) td:nth-child(1) input,
tr:nth-child(7) td:nth-child(2) input,
tr:nth-child(7) td:nth-child(3) input,
tr:nth-child(8) td:nth-child(1) input,
tr:nth-child(8) td:nth-child(2) input,
tr:nth-child(8) td:nth-child(3) input,
tr:nth-child(9) td:nth-child(1) input,
tr:nth-child(9) td:nth-child(2) input,
tr:nth-child(9) td:nth-child(3) input
{
    background: aliceblue;
}



















