body {
    /*background: #78CAD2;*/
}

#header {
    margin: 0px;
    padding: 20px;
    text-align: center;
    /*background-color: #78CAD2;*/
    color: #2B303A;
}

.puzzle-header {
    text-align: center;
}


#img-container { grid-area: menu; }
#content{ grid-area: puz; }
#btn-container { grid-area: btn; }
#table-container {grid-area: table}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: #f1f1f1;
    display: grid;
    grid-template-areas:
        'menu puz puz'
        'menu puz puz'
        'menu puz puz';
    grid-template-rows: auto auto;
}

#working-container {
    width:100%;
    display: flex;
    flex-direction: column;
}

#table-container {
    margin-left: 20px;
    display: flex;

}

#puzzle-container{
    width: fit-content;
    height: fit-content;
    margin: 5px;
    /*position: absolute;*/
}

#solution-container{
    width: fit-content;
    height: fit-content;
    margin: 5px;
}


#img-container {
    border-right: solid #2B303A;
    padding: 20px;
    padding-top: 0px;
    width: 300px;
    height: auto;
    /*z-index: -1;*/
    position: relative;
}

#image-upload{
    /*width: fit-content;*/
    /*height: auto;*/
}


#input-puzzle, #output-puzzle {
    padding: 10px;
    /*border-radius: 5%;*/
    background: #33658A;
}

.input-container {
    border-radius: 10%;
 }


.box {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 30px;
    color: #333333;
    /*border-radius: 10%;*/
    background: #A6F4DC;
}

.active {
    color: red;
}


tr:nth-child(1) td:nth-child(1) input,
tr:nth-child(1) td:nth-child(2) input,
tr:nth-child(1) td:nth-child(3) input,
tr:nth-child(2) td:nth-child(1) input,
tr:nth-child(2) td:nth-child(2) input,
tr:nth-child(2) td:nth-child(3) input,
tr:nth-child(3) td:nth-child(1) input,
tr:nth-child(3) td:nth-child(2) input,
tr:nth-child(3) td:nth-child(3) input,

tr:nth-child(1) td:nth-child(7) input,
tr:nth-child(1) td:nth-child(8) input,
tr:nth-child(1) td:nth-child(9) input,
tr:nth-child(2) td:nth-child(7) input,
tr:nth-child(2) td:nth-child(8) input,
tr:nth-child(2) td:nth-child(9) input,
tr:nth-child(3) td:nth-child(7) input,
tr:nth-child(3) td:nth-child(8) input,
tr:nth-child(3) td:nth-child(9) input,

tr:nth-child(4) td:nth-child(4) input,
tr:nth-child(4) td:nth-child(5) input,
tr:nth-child(4) td:nth-child(6) input,
tr:nth-child(5) td:nth-child(4) input,
tr:nth-child(5) td:nth-child(5) input,
tr:nth-child(5) td:nth-child(6) input,
tr:nth-child(6) td:nth-child(4) input,
tr:nth-child(6) td:nth-child(5) input,
tr:nth-child(6) td:nth-child(6) input,

tr:nth-child(7) td:nth-child(7) input,
tr:nth-child(7) td:nth-child(8) input,
tr:nth-child(7) td:nth-child(9) input,
tr:nth-child(8) td:nth-child(7) input,
tr:nth-child(8) td:nth-child(8) input,
tr:nth-child(8) td:nth-child(9) input,
tr:nth-child(9) td:nth-child(7) input,
tr:nth-child(9) td:nth-child(8) input,
tr:nth-child(9) td:nth-child(9) input,

tr:nth-child(7) td:nth-child(1) input,
tr:nth-child(7) td:nth-child(2) input,
tr:nth-child(7) td:nth-child(3) input,
tr:nth-child(8) td:nth-child(1) input,
tr:nth-child(8) td:nth-child(2) input,
tr:nth-child(8) td:nth-child(3) input,
tr:nth-child(9) td:nth-child(1) input,
tr:nth-child(9) td:nth-child(2) input,
tr:nth-child(9) td:nth-child(3) input
{
    background: #ffffff;
}


#btn-container {
    width: 100%;
    height: auto;
    display: flex;
    /*justify-content: space-between;*/
    padding-bottom: 20px;
    /*flex-direction: column;*/
}


.btn {
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    height: 30px;
    background: #0C7C59;
    color: white;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
    /*border-radius: 10%;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}
















